numpy==1.26.4
requests==2.32.3
transformers==4.44.0
torch==2.1.1
langchain==0.2.13
chromadb==0.5.4
langchain-community==0.2.12
pymupdf==1.24.9
llama-cpp-python==0.2.88
fastapi==0.112.0
uvicorn==0.30.6
streamlit==1.37.1
sentence-transformers==3.0.1
chromadb
weaviate-client==4.7.1

-e .